h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 40px;
    
}
h2 {
    font-size: 110px;
    text-align: center;
}
h3 {
    font-size: 40px;
    text-align: center;
}
.foo img{
    box-shadow: 3px 3px 6px 2px grey;
    border-radius:120%;
    border-size: 50px;
}
.sat img{
    box-shadow: 3px 3px 6px 2px grey;
    border-radius:90%;
    border-size: 50px;
    margin-left: 150px;
    height: 900px;
}
.end0 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -75px;
}
.next {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ear img{
    box-shadow: 3px 3px 6px 2px grey;
    
    border-radius:10%;
    border-size: 50px;
}


